.login-page {
    align-items: flex-end;
    background-image: url('../../assets/img/christopher-burns-8KfCR12oeUM-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 70% 100%;
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }

