.login-page {
    align-items: flex-end;
    background-image: url('../../assets/img/christopher-burns-8KfCR12oeUM-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 70% 100%;
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }

// .body{
// 	// background-image: url("grid.png");
// 	height:750px;
	
// }
// .fb-header-base{
// 	width:100%;
// 	height:90px;
// 	position:absolute;
// 	top:0;
// 	left:0;
// 	color:white;
// 	z-index:7;
// 	font-family:verdana;
// 	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
// }
// .fb-header{
// 	width:100%;
// 	height:90px;
// 	position:absolute;
// 	background:#3d5b99;
// 	top:0;
// 	left:0;
// 	color:white;
// 	z-index:7;
// 	font-family:verdana;
	
// }
// #img1{
// 	left:178px;
// 	height:50px;
// 	width:100px;
// 	top:25px;
// }
// #form1{
// 	left:750px;
// 	height:60px;
// 	width:180px;
// 	top:20px;
// 	font-family:verdana;
// 	font-size:12px;
// }
// #form2{
// 	left:940px;
// 	height:60px;
// 	width:250px;
// 	top:20px;
// 	font-family:verdana;
// 	font-size:12px;
// }
// .submit1{
// 	left:1130px;
// 	top:35px;
// 	background:#5b7bc0;
// 	color:white;
// 	position:fixed;
// 	z-index:20;
// 	height:22px;
// 	width:50px;
// 	cursor:pointer;
	

	
// }
// .fb-body{
// 	position:absolute;
// 	left:0px;
// 	top:90px;
// 	width:100%;
// 	height:645px;
	

// }
// #intro1{
// 	left:178px;
// 	top:20px;
// 	font-family:verdana;
// 	font-size:20px;
// 	color:#142170;
// 	height:75px;
// 	width:550px;
// }
// #intro2{
// 	left:750px;
// 	top:20px;
// 	font-family:verdana;
// 	font-size:30px;
// 	color:#000;
// 	font-weight:bold;
// 	height:75px;
// 	width:500px;
// }
// #img2{
// 	top:130px;
// 	left:178px;
// 	width:537px;
// 	height:195px;
// }
// #intro3{
// 	left:750px;
// 	top:70px;
// 	font-family:verdana;
// 	font-size:18px;
// 	color:#000;
// 	height:50px;
// 	width:300px;
// }
// #form3{
// 	top:120px;
// 	left:750px;
// 	font-family:verdana;
// 	font-size:20px;
// 	color:#142170;
// 	width:450px;
// 	height:495px;
	
// }
// #namebox{
// 	width:200px;
// 	height:40px;
// 	border-radius:5px 5px 5px 5px;
// 	background:white;
// 	padding:10px;
// 	font-size:18px;
// 	margin-top:8px;
// 	border-width: 1px;
// 	border-style:solid;
// 	border-color: gray;
// }
// #mailbox{
// 	width:408px;
// 	height:40px;
// 	border-radius:5px 5px 5px 5px;
// 	background:white;
// 	padding:10px;
// 	font-size:18px;
// 	margin-top:8px;
// 	border-width: 1px;
// 	border-style:solid;
// 	border-color: gray;
// }
// #r-b{
// 	font-size:12px;
// 	height:15px;
// 	width:15px;
// }
// .button2{
// 	width:250px;
// 	height:40px;
// 	left:750px;
// 	top:625px;
// 	background:green;
// 	font-family:verdana;
// 	font-size:18px;
// 	color:white;
// 	border-radius:5px 5px 5px 5px;
// 	border-width: 1px;
// 	border-style:solid;
// 	border-color: gray;
// 	cursor:pointer;
// 	outline:none;
	
// }
// #intro4{
// 	font-family:verdana;
// 	font-size:12px;
// 	color:gray;
	
// }
// #intro5{
// 	font-family:verdana;
// 	font-size:14px;
// 	color:gray;
	
// }
// .fb-body-footer{
// 	width:100%;
// 	position:absolute;
// 	left:0px;
// 	height:80px;
// 	background:white;
// 	top:700px;
	
// }
// #fb-body-footer-base{
// 	width:900px;
// 	top:15px;
// 	left:200px;
// 	color:blue;
// 	height:60px;
// }