<div class="login-page">
    <div class="login-box" style="padding: 0px 40px 0px 0px;">
        <div class="login-logo">
            <img style="width: 160px;" src="../../assets/img/iacademia.png"/><a href="../../assets/img/iacademia.png"><b>ZonalDesk</b></a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form [formGroup]="loginForm">
                    <label>Email/Mobile</label>
                    <div class="input-group mb-3"> 
                        <input formControlName="email" type="email" class="form-control" placeholder="Enter Email or Mobile" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <label>Password</label>
                    <div class="input-group mb-3">
                        <input formControlName="password" type="password" class="form-control" placeholder="Password" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="rememberMe" />
                                <label class="custom-control-label" for="rememberMe">Remember me</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button (click)="logIn()" type="submit" class="btn btn-primary btn-block btn-flat">
                                Sign In
                            </button>
                        </div>
                    </div>
                </form>

                <!-- <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                </div> -->

                <p class="mb-1">
                    <a>I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a [routerLink]="['/register']" class="text-center">Register a new membership</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="fb-header-base">
</div>
<div class="fb-header">
    <div id="img1" class="fb-header"> -->
<!-- <img src="facebook.png" /> -->
<!-- </div>
    <div id="form1" class="fb-header">Email or Phone<br>
        <input placeholder="Email" type="mail" name="name" /><br>
        <input type="checkbox" />keep me logged in</div>

    <div id="form2" class="fb-header">Password<br>
        <input placeholder="Password" type="password" name="password" /><br>
        Forgotten your password?
    </div>
</div>
<input type="submit" class="submit1" value="login" />
<div class="fb-body">
    <div id="intro1" class="fb-body">Facebook helps you connect and share with the <br>
        people in your life.</div>
    <div id="intro2" class="fb-body">Create an account</div>
    <div id="img2" class="fb-body"> -->
<!-- <img src="world.png" /> -->
<!-- </div>
    <div id="intro3" class="fb-body">It's free and always will be.</div>
    <div id="form3" class="fb-body">
        <input placeholder="First Name" type="text" id="namebox" name="name1" />
        <input placeholder="Last Name" type="text" id="namebox" /> <br>
        <input placeholder="Emai" type="text" id="mailbox" /><br>
        <input placeholder="Re-enter email" type="text" id="mailbox" /><br>
        <input placeholder="Password" type="password" id="mailbox" /><br>
        <input type="date" id="namebox" /><br><br>
        <input type="radio" id="r-b" name="sex" value="male" />Male
        <input type="radio" id="r-b" name="sex" value="female" />Female<br><br>
        <p id="intro4">By clicking Create an account, you agree to our Terms and that
            you have read our Data Policy, including our Cookie Use.</p>
        <input type="submit" class="button2" value="Create an account">
        <br>
        <hr>
        <p id="intro5">Create a Page for a celebrity, band or business.</p>

    </div>

</div>
<div class="fb-body-footer">
    <div id="fb-body-footer-base" class="fb-body-footer">English (UK)<br>
        <hr>
        Sign Up Log In &copy; www.coderglass.com &nbsp;&nbsp; Design by Varun Singh</div>
</div> --> 