<div class="card register-start">
    <div class="register-box2">

        

        <div class="card">
            <div class="card-body register-card-body">
                <div class="two-columns--two-columns--t3o3b">
                    <form data-purpose="form" class>
                        <div class="two-columns-ia__group">
                            <div class="two-columns-ia__group__section">
                                <div class="form-group">
                                    <label for="name" class="control-label" >
                                        first name
                                    </label>
                                    <input name="name" data-purpose="edit-profile-first-name" maxlength="64" id="name" class="form-control">
                                </div>
                            </div>
                                    <div class="two-columns-ia__group__section">
                                        <div class="form-group">
                                            <label for="name" class="control-label" >
                                                first name
                                            </label>
                                            <input name="name" data-purpose="edit-profile-first-name" maxlength="64" id="name" class="form-control">

                                    
                            </div>  
                        </div>
                    
                
            </div>
                    </form>
                </div>

                
                </div>
                </div>
                </div>
                </div>
                
