
<div class="card">
  <div class="card-header bg-gray" >
    <h1 style="text-align: center;font-size: xx-large"><b>GRIEVANCE REDRESSAL PORTAL</b></h1>

    <p style="text-align: center;">The grievance redressal portal enables the workers to register their grievances using a safe and secure platform.</p>

    <!-- /.card-tools  -->
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <!-- <a type="a" class="btn btn-secondary btn-lg btn-block">Block level a</a> -->


    <table class="table table-borderless text-center">
      <tbody>
      <tr>
        <td>
          <a href="#/grievance/Grievance-registration" id="sections" class="btn btn-block btn-outline-info btn-lg"><i class="fas fa-edit" style="font-size: 40px;"></i><h4 style="font-size: 1.1rem;"><b>Lodge A Grievance</b></h4></a>

        <td>
          <a href="#/grievance/check-status" id="sections" class="btn btn-block btn-outline-info btn-lg"><i class="fas fa-spinner" style="font-size: 40px;"></i><h4 style="font-size: 1.1rem;"><b>Track Progress</b></h4></a>
        </td>

      </tr>
      <tr>
        <td>
          <a href="#/worker/worker-laws" id="sections" class="btn btn-block btn-outline-info btn-lg"><i class="fas fa-balance-scale" style="font-size: 40px;"></i><h4 style="font-size: 1.1rem;"><b>Legal Advice</b></h4></a>
        </td>
        <td>
          <a href="#/grievance/browse-redressal" id="sections" class="btn btn-block btn-outline-info btn-lg"><i class="fas fa-search" style="font-size: 40px;"></i><h4 style="font-size: 1.1rem;"><b>Browse Redressal</b></h4></a>
        </td>

      </tr>

    </tbody></table>








  </div>

  <!-- <div class="card-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div> -->

  <div class="card-footer">
    <ul class="nav nav-pills">
      <li> <a href="#/dashboard">Home</a></li>
      <li> <a href="#/blank">Contact Us</a></li>
    </ul>
  </div>
  </div>
