.table-borderless text-center{
    margin: 0 auto;
    margin-top: 30%;
}

#sections{
  line-height: 3rem;
  font-size: 1.5rem;
  color: black;
}

#sections:hover{
  color: white;
}

li{
  margin-right: 2em;
}

.card-body{
  background-image:url("../../../../assets/img/Background1.png") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // height: fit-content;

}

.col-12  {
  margin: 0 auto;
}
.col-sm-6{
  margin: 0 auto;
}
.col-md-3{
  margin: 0 auto;
}


@media (min-width: 768px){
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 60%;
}
}
