h1{
  margin-left: 30%;
}
.card-body{
  background-image:url("../../../../assets/img/Background1.png") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height:100vh
}

.col-12  {
  margin: 0 auto;
}
.col-sm-6{
  margin: 0 auto;
}
.col-md-3{
  margin: 0 auto;
}


@media (min-width: 768px){
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 60%;
}
}
