
<div class="card card-info ">
  <div class="card-header" >
    <h1><b>GRIEVANCE REDRESSAL PORTAL</b></h1>

    <p style="text-align: center;">The grievance redressal portal enables the workers to register their grievances using a safe and secure platform.</p>

    <!-- /.card-tools -->
  </div>
  <!-- /.card-header -->
  <div class="card-body">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-edit" style="font-size: 48px;color: white;"></i></span>

          <div class="info-box-content">
            <span class="info-box-text"><h3><b><a href='#/grievance/Grievance-registration' class="nav-link" style="color: black;">LODGE A GRIEVANCE</a></b></h3></span>

            <p style="margin-left: 1.8% ;">Fill and submit the Grievance Form</p>

          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-spinner" style="font-size: 48px;color: white;"></i></span>

          <div class="info-box-content">
            <span class="info-box-text"><h3><b><a href='#/grievance/check-status' class="nav-link" style="color: black;">TRACK PROGRESS</a></b></h3></span>
            <span><p style="margin-left: 1.8% ;">Track the progress of the grievance</p></span>
          </div>
          <!-- /.info-box-content -->
          <!-- [routerLink]="['/grievance/check-status']" -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-success elevation-1"><i class="fas fa-balance-scale" style="font-size: 48px;color: white;"></i></span>

          <div class="info-box-content">
            <span class="info-box-text"><h3><b><a href="#/worker/worker-laws" class="nav-link" style="color: black;">LEGAL ADVICE</a></b></h3></span>
            <span><p style="margin-left: 1.8% ;">Browse through the labour laws to get acquainted to the legalities</p></span>
          </div>
          <!-- /.info-box-content -->
          <!-- [routerLink]="['/worker/worker-laws']" -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-search" style="font-size: 48px;color: white;"></i></span>

          <div class="info-box-content">
            <span class="info-box-text"><h3><b><a href="#/grievance/browse-redressal" class="nav-link" style="color: black;">BROWSE RECENT REDRESSAL</a></b></h3></span>
            <span><p style="margin-left: 1.8% ;">Navigate to the history section to search for the grievances</p></span>
          </div>
          <!-- /.info-box-content -->
          <!-- [routerLink]="['/grievance/browse-recent-redressal']" -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

  </div>
  </div>
