h2{
    text-align:center;
    color:black;

    font-weight:normal;

}

input.ng-dirty.ng-valid{
    border: 1px solid green;

}

.col-md-6{
  margin: 0 auto;
  margin-right: 35%;
  padding: 2%;
}


.card{
  width: 150%;
}
