h2{
    text-align:center;
    color:black;

    font-weight:normal;

}

input.ng-dirty.ng-valid{
    border: 1px solid green;

}


.card-default{
  margin: 0 auto;
}

.form-group{
  width: 90%;
  font-size: 0.8rem;
}



