  <div class="card card-default">
    <div class="card-header bg-info">
      <h1><b>Grievance Registration Form</b></h1>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
                  <label >User Name</label>
                  <input type="text" #username="ngModel" required class="form-control input-sm" [class.is-invalid]="username.invalid && username.touched" name="username" [(ngModel)]="userModel.username">
                  <small class="text-danger" [class.d-none]="username.valid || username.untouched">Username is required</small>
                </div>

            <div class="form-group">
                      <label >Password</label>
                      <input type="password" #password="ngModel" required class="form-control" [class.is-invalid]="password.invalid && password.touched" name="password" [(ngModel)]="userModel.password">
                      <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
                    </div>


        <div class="form-group">
          <label >Worker Name</label>
          <input type="text" #name="ngModel" required class="form-control" [class.is-invalid]="name.invalid && name.touched" name="name" [(ngModel)]="userModel.name">
          <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
        </div>

        <div class="form-group">
          <label> Worker ID</label>
          <input type="text"  #id="ngModel" required class="form-control" [class.is-invalid]="id.invalid && id.touched"  name="id" [(ngModel)]="userModel.id" >
          <small class="text-danger" [class.d-none]="id.valid || id.untouched">ID is required</small>
        </div>

        <div class="form-group">
          <label> Department name</label>
          <input type="text" #section="ngModel"  required class="form-control" [class.is-invalid]="section.invalid && section.touched" name="section" [(ngModel)]="userModel.section" >
          <small class="text-danger" [class.d-none]="section.valid || section.untouched">This is required</small>
        </div>



        <div class="form-group">
            <label>Phone</label>
            <input type="tel"  name='phone'    #phone="ngModel" required pattern="^\d{10}$" class="form-control" [class.is-invalid]="phone.invalid && phone.touched"  [(ngModel)]="userModel.phone" >
            <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number must be 10 digits</small> -->
            <div *ngIf="phone.errors && (phone.valid || phone.touched)">
              <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
              <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>
            </div>
          </div>
          <!-- /.form-group -->
        </div>



        <!-- /.col -->
        <div class="col-md-6">
          <div class="form-group">
                   <label>Worker Email</label>
                <input type="email" #email="ngModel"  name="email"  required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" [class.is-invalid]="email.invalid && email.touched"  [(ngModel)]="userModel.email" >
                <div *ngIf="email.errors && (email.valid || email.touched)">
                  <small class="text-danger" *ngIf="email.errors.required">Email address is required</small>
                  <small class="text-danger" *ngIf="email.errors.pattern">Please provide a valid email address</small>
                </div>
              </div>

             <div class="form-group">
              <label> Select the category</label>
              <select class="custom-select" (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" #topic="ngModel" [class.is-invalid]="topicHasError && topic.touched" name="topic" [(ngModel)]="userModel.topic">
                <option value="default">My complaint is about</option>
                <option *ngFor="let topic of topics">{{ topic }}</option>
              </select>
              <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please choose a topic</small>
            </div><br>

            <div class="form-group">
                    <label> Relevant Law-section for the complaint</label>
                    <input type="text" #department="ngModel"  required class="form-control"  [(ngModel)]="userModel.department" >
                  </div>

             <div class="form-group">
              <label  > Complaint details</label>
              <textarea cols="30" name='details'  #details="ngModel" required class="form-control" [class.is-invalid]="details.invalid && details.touched"  [(ngModel)]="userModel.details" style="height: 159px;"></textarea>
              <small class="text-danger" [class.d-none]="details.valid || details.untouched">This is required</small>


             </div>
             <div class="form-group">
                <label>Confirm Worker ID </label>
                <input type="text"  name='confirm'  appConfirmEqualValidator="id"   #confirm="ngModel" required  class="form-control" [class.is-invalid]="confirm.invalid && confirm.touched"  [(ngModel)]="userModel.confirm" >

                <div *ngIf="confirm.errors && (confirm.valid || confirm.touched)">
                  <small class="text-danger" *ngIf="confirm.errors.required">Confirm worker-ID  is required</small>
                  <small class="text-danger" *ngIf="!confirm.errors.required &&confirm.errors.notEqual">ID and confirm worker-ID doesnot match</small>
                </div>
              </div>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <button type="submit" class="btn btn-primary" [disabled]="topicHasError">Submit</button>
    </div>

  </div>
