body{
  background: #fff;
  background-size: initial;
  background-origin: initial;
  background-attachment: initial;

  color: black;
  line-height: 1.34;
  direction: ltr;
  margin: 0;
  padding: 0;
  unicode-bidi: embed;

}

._li._li._li{
  overflow: initial;
  overflow-x: initial;
  overflow-y: initial;
}
._io {
  background: #fff;
  background-image: url();
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(225, 225, 225);
  font-size: 13px;
  height: 100%;
  line-height: 1.538;
}
div{
  display: block;
}
body._4tvi,body._4tvi input,body._4tvi select
body._4tvi textarea
{
  font-family: Arial, Helvetica, sans-serif;
}

._4ee_ , ._4ee_._4ee_ {
  background: skyblue;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: lightblue;
  border: none;
}
._4ee_ ._5xu3{
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 1012px;
}
.clearfix{
  zoom: 1;
}
._1qkq:first-child{

  margin-left: 0 !important;
}
._1qks{
  width: 180px !important;
}
._1qky{
  width: 564px !important;
}
// for search
._1qkq{
margin-left: 12px !important;
padding:5px;
min-height: 1px;
position: relative;
width: 52px;

}
div{
  display: block;
}

.sp_5au3qa_Z_c5.sx_272a8c {
  width: 25px;
  height: 24px;
  background-position: 0 -36px;
}
._4ee_._4ef0 {
  margin: 0 12px 4px 0;
  margin-top: 0px;
  margin-right: 12px;
  margin-bottom: 4px;
  margin-left: 0px;
  vertical-align: middle;
}
._4ee_ ._4ef2{
  font-size: 14px;
  outline: none;
  outline-color: initial;
  outline-style: none;
  color: black;
  cursor: pointer;
  text-decoration: none;
  outline-color: initial;
  outline-style: none;
  outline-width:initial;
  text-decoration: initial;
  text-decoration-style: initial ;
  text-decoration-line:wavy;
  text-decoration-color: initial;
  white-space: nowrap;
}
//a{
  //color:white;
  //cursor: pointer;
  //text-decoration: blue;
//}
form{
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
form{
  display: block;
  margin-top: 0em;
}
i.img{
   -ms-high-contrast-adjust: none;
}
.sp_5au3qa_Z_c5{
  background-image:  url('/assets/favi.png');
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}
i{
  font-style: italic;
}

//for search icon
._1r_y ._1s0b{
background-image:  url('/assets/search.png');
background-repeat: no-repeat;
background-size: auto;
//background-position: 0 -329px;
cursor: pointer;
height: 20px;
left: 20px;
opacity: .4;
position: absolute;
top: 14px;
width: 16px;
}
input,select,textarea{
  background-color: #fff;
  color: black;
}
//Main Content Style
._146o{
  width: 100;
}
._146r{
  background:#00a2d7;
  width: 100%;
}
._146p{
  margin: 0 auto;
  width: 1012px;
}
.clearfix{
  zoom: 1;
}
._1qkq:first-child{
  margin-left: 0 !important;
}
._146s{
  display: inline-block;
  padding: 10px 0 60px;
}
._1qkx{
  width: 500px !important;
}
._146q{
  color: #1c1e21;
  display: block;
  font-size: 28px;
  font-weight: 100;
  margin: 40px 0 24px 0;
}
._3-97{
  margin-bottom: 16px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding:0;

}
ul{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
._298{
  margin-bottom: 5px;
  font-size: 13px;
}
h1,h2,h3,h4,h5,h6{
  color: black;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
h3{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
li{
  display: list-item;
  text-align: -webkit-match-parent;
}
._146s ._5dwo{
  background-color:blue;
  border-radius: 20px;
  box-sizing: border-box;
  color:#fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.4;
  margin-bottom: 12px;
  padding: 6px 14px;
  text-decoration: none;
}
a{

  cursor: pointer;

}
.sp_unTHOaL2kh.sx_d8066d{
  width: 500px;
  height: 324px;
  background-position: 0 0;
}
i.img{
  -ms-high-contrast-adjust: none;
}
//for image
.sp_unTHTOaL2kh{
  background-image: url('/assets/images.png');
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;

  height: 300px;
  width: 244px;
}
._146_{
  margin: 50px 0;
  vertical-align: top;
}
._qkx{
  width: 500px !important;
}
.clearfix::after{
  clear: both;
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
._146p{
  margin: 0 auto;
  width: 1012px;
}
._146q{

  color:#1c1e21;
  display: block;
  font-size: 28px;
  font-weight: 100;
  margin: 40px 0 24px 0;
}
._1474{
  border: 1px solid skyblue;
  display: table;
  border-radius: 5px;
  align-items: center;
}
._1475:not(:last-child){

  border-right: solid 2px lightblue;

}
._1475 {

  box-sizing: border-box;
  display: table-cell;
  padding: 24px;
  text-align: center;
  width: 250px;
}
a{
  color: slategray;
  cursor: pointer;
  text-decoration: none;

}
._149q{
  color:#1c1e21;
  display: block;
  font-size: 28px;
  font-weight: 100;
  margin: 40px 0 24px 0;
  text-align: center;
}
._150p{
  width: 100%;
  background-color: slategrey;
}
input._221p{
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}
input[type=submit]{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover{
  background-color: #45a049;
}

.container{
  border-radius: 5px;
  border-color: #f2f2f2;
  padding: 20px;
}
